* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-width: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #363467 0%, rgba(30, 29, 79, 0.8) 100%);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;

h1 {
  color: #fff;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column ;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #232d43;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #8b8ae1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 14px;

  }


  & button :hover {
    opacity: 0.8;
  }

  & input {
    border:  1px solid #48456c;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}
}